---
http_interactions:
- request:
    method: post
    uri: https://test.delhivery.com/api/p/edit/
    body:
      encoding: UTF-8
      string: '{"waybill":"3132110000070","cancellation":true}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: "\n\n<!doctype html>\n<script>\n    var unsupported_browser = false;\n</script>\n\n<!--[if
        lte IE 8]>\n<script type=\"text/javascript\">unsupported_browser = true;</script>\n<![endif]-->\n\n<script>\nif
        (unsupported_browser == true){\n    alert('Please use a modern browser to
        continue...');\n    location.replace(\"http://browsehappy.com/\");\n}\n</script>\n\n<!--[if
        lt IE 7 ]> <html class=\"no-js ie6\" lang=\"en\"> <![endif]-->\n<!--[if IE
        7 ]>    <html class=\"no-js ie7\" lang=\"en\"> <![endif]-->\n<!--[if IE 8
        ]>    <html class=\"no-js ie8\" lang=\"en\"> <![endif]-->\n<!--[if (gte IE
        9)|!(IE)]><!-->\n\n<html class=\"no-js\" lang=\"en\">\n<!--<![endif]-->\n
        \   <head>\n        <meta charset=\"utf-8\">\n        <!--<meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge,chrome=1\">-->\n        <meta name=\"description\" content=\"\">\n
        \       <meta name=\"author\" content=\"\">\n        \n        <title>Delhivery
        | </title>\n\n        <link rel=\"icon\" type=\"image/png\" href=\"/static/images/favicon.png\"
        />\n        <!--[if !IE]>-->\n        <link rel=\"stylesheet\" type=\"text/css\"
        href=\"/static/css/main.embedded.min.css?version=20160516\" media=\"screen,
        projection\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/static/css/main-print.embedded.min.css?version=20130924\"
        media=\"print\">\n        <link rel='stylesheet' type=\"text/css\" href='/static/css/smoothness/jquery-ui.min.c[...]
