---
http_interactions:
- request:
    method: get
    uri: https://test.delhivery.com/c/api/pin-codes/json/?dt=2016-03-12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 6ae9242be35bdc8a2a3abc8681bbc2b01939ce86
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"delivery_codes": [{"postal_code": {"district": "Central Delhi", "pin":
        110011, "max_amount": 0.0, "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl":
        "Y", "cod": "Y", "sort_code": "DEL/JHA", "is_oda": "N", "state_code": "DL",
        "max_weight": 0.0}}, {"postal_code": {"district": "South Delhi", "pin": 110024,
        "max_amount": 0.0, "pre_paid": "Y", "cash": "N", "pickup": "Y", "repl": "Y",
        "cod": "Y", "sort_code": "DEL/TUG", "is_oda": "N", "state_code": "DL", "max_weight":
        0.0}}, {"postal_code": {"district": "West Delhi", "pin": 110026, "max_amount":
        0.0, "pre_paid": "N", "cash": "N", "pickup": "N", "repl": "N", "cod": "N",
        "sort_code": "None", "is_oda": "N", "state_code": "DL", "max_weight": 0.0}},
[...]
