---
http_interactions:
- request:
    method: get
    uri: https://test.delhivery.com/c/api/pin-codes/json/?st=MH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"delivery_codes": [{"postal_code": {"district": "Raigarh(Mh)", "pin":
        400001, "max_amount": 0.0, "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl":
        "Y", "cod": "Y", "sort_code": "BOM/COT", "is_oda": "N", "state_code": "MH",
        "max_weight": 0.0}}, {"postal_code": {"district": "Mumbai", "pin": 400002,
        "max_amount": 0.0, "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl": "Y",
        "cod": "Y", "sort_code": "BOM/COT", "is_oda": "N", "state_code": "MH", "max_weight":
        0.0}}, {"postal_code": {"district": "Mumbai", "pin": 400003, "max_amount":
        0.0, "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl": "Y", "cod": "Y",
        "sort_code": "BOM/COT", "is_oda": "N", "state_code": "MH", "max_weight": 0.0}},
      [...]
