---
http_interactions:
- request:
    method: get
    uri: https://test.delhivery.com/c/api/pin-codes/json/?filter_codes=411008
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token 6ae9242be35bdc8a2a3abc8681bbc2b01939ce86
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"delivery_codes": [{"postal_code": {"district": "Pune", "pin": 411008,
        "max_amount": 0.0, "pre_paid": "Y", "cash": "Y", "pickup": "Y", "repl": "Y",
        "cod": "Y", "sort_code": "PNQ/PDP", "is_oda": "N", "state_code": "MH", "max_weight":
        0.0}}]}'
  recorded_at: Wed, 29 Mar 2017 05:57:59 GMT
recorded_with: VCR 3.0.3
