---
http_interactions:
- request:
    method: post
    uri: https://test.delhivery.com/api/backend/clientwarehouse/status/
    body:
      encoding: UTF-8
      string: '{"name":"AutomatedTestsWarehouse"}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      allow:
      - POST, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"active": false, "message": "''AutomatedTestsWarehouse''
        ClientWarehouse isn''t active.", "name": "AutomatedTestsWarehouse", "pincode":
        132103}, "success": true, "error": ""}'
  recorded_at: Wed, 29 Mar 2017 06:17:06 GMT
recorded_with: VCR 3.0.3
