---
http_interactions:
- request:
    method: post
    uri: https://test.delhivery.com/api/backend/clientwarehouse/edit/
    body:
      encoding: UTF-8
      string: '{"name":"AutomatedTestsWarehouse","registered_name":"AutomatedTestsEdited","address":"New
        Address Gurgaon","phone":"8888888899"}'
    headers:
      Authorization:
      - Token --api-key-here--
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      allow:
      - POST, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"data": {"name": "AutomatedTestsWarehouse", "pincode": 132103, "phone":
        8888888899, "address": "New Address Gurgaon", "active": false, "message":
        "client warehouse has been updated in HQ(Delhivery)."}, "success": true, "error":
        ""}'
  recorded_at: Wed, 29 Mar 2017 06:20:41 GMT
recorded_with: VCR 3.0.3
